.tcard{
  position: relative;
  min-height: 144px;
}



.tcard-btn-div{
  position: absolute;
  right:0;
  top:0;
}

h1,h2,h3,h4,h5{
  font-weight: 700;
}

.span-distance{
  font-weight: 400;
  text-transform: uppercase;
  font-family: 'Roboto';
}
