<div class="tcard bg-white p-4 pb-2">

  <div class="row" *ngIf="this.loading">
    <div class="col">
      <h4>interne Bemerkung</h4>
    </div>
  </div>
  <app-loading-placeholder *ngIf="this.loading"></app-loading-placeholder>

  <div *ngIf="!this.loading">
    <div class="row">
      <div class="col">
        <h4>interne Bemerkung</h4>
        <div class="tcard-btn-div p-3 pb-0 px-2" *ngIf="this.order.orderRightsGlobal!.edit.comment && this.order.isMyOrder">
          <button color="primary" mat-icon-button (click)="saveComment()"
                  aria-label="speichern">
            <mat-icon>save</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <mat-form-field appearance="fill">
                    <textarea matInput [(ngModel)]="this.order.internalComment" matAutosizeMinRows="1" matTextareaAutosize style="height:50px;"
                              id="orderComment"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="row" *ngIf="this.order.orderStatus=='CANCELED'">
      <div class="col-12">
        <b>Grund Abbruch Auftrag</b>:<br>
        {{this.order.reasonForCancel}}
      </div>
    </div>


  </div>
</div>



