<div class="tcard p-2">


  <div>
    <div class="row">
      <div class="col">


        <table class="">
          <tr>

            <td>
              <div class="col-flex">
                <mat-icon>apartment</mat-icon>&nbsp;<b>Auftraggeber:&nbsp;{{this.ParentOrderCompanyName}}</b>
              </div>
            </td>

            <td>
              <div class=" col-flex" style="    justify-content: flex-end;">
                &nbsp; <mat-icon>contact_mail</mat-icon>&nbsp;<b>Ansprechpartner:&nbsp;</b>{{this.ParentOrderContactPersonName}}
                &nbsp;({{this.ParentOrderContactPersonEmail}}&nbsp;/&nbsp;
                {{this.ParentOrderContactPersonPhone}})
              </div>
            </td>

          </tr>

        </table>


      </div>
    </div>


  </div>
</div>

