<div class="row">
  <div class="col">
    <h2 mat-dialog-title>Ansprechpartner</h2>
  </div>
  <div class="col-1 text-end">
    <button (click)="close()" mat-icon-button aria-label="Schließen">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>

<mat-dialog-content>
  <app-contact-person-table></app-contact-person-table>
</mat-dialog-content>


<mat-dialog-actions align="end">
  <button type="button" mat-raised-button class="mat-raised-button me-3" (click)="close()">Abbrechen</button>
  <button mat-raised-button color="primary" (click)="ok()">
    Ok
  </button>
</mat-dialog-actions>
