<div class="row" style="top:0;">
  <div class="col">
    <h2 *ngIf="this.editable">Sub-Auftrag Rechte ändern</h2>
    <h2 *ngIf="!this.editable">Sub-Auftrag Rechte ansehen</h2>

  </div>
  <div class="col-1 text-end">
    <button (click)="close()" mat-icon-button aria-label="Schließen">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>


<div class="row mt-2 position-relative" style=";">
  <div class="col">
    <app-order-suborders-rights [editable]="this.editable" [dialogComponent]="true" (externFunction)="chooseItem($event)" (updateExternCompanyDefined)="updateExternCompanyDefined($event)"
                                [order]="this.order"></app-order-suborders-rights>
  </div>
</div>



