<dx-data-grid class="mat-table"
              id="gridContainer"
              [dataSource]="dataSource" [columnHidingEnabled]="true"
              keyExpr="name"
              [allowColumnReordering]="true"
              [showColumnLines]="false"
              [columnHidingEnabled]="false"
              [showRowLines]="true"
              [showBorders]="true"
              [rowAlternationEnabled]="false"
              (onRowUpdating)="updateRow($event)"
              (onRowRemoving)="deleteRow($event)" (onExporting)="onExporting($event)">
  <dxo-pager
    [visible]="true"
    [allowedPageSizes]="allowedPageSizes"
    [showPageSizeSelector]="true"
    [showInfo]="true"
    [showNavigationButtons]="true">
  </dxo-pager>
  <dxo-search-panel
    [visible]="true"
    [width]="240"
    placeholder="Search..."
  ></dxo-search-panel>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-paging [pageSize]="5"></dxo-paging>

  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-paging [enabled]="true"></dxo-paging>
  <dxo-editing mode="row" [allowUpdating]="false" [allowDeleting]="false" [allowAdding]="false" [useIcons]="true">
    <dxo-texts confirmDeleteTitle="Löschen?" confirmDeleteMessage="Datensatz löschen?"></dxo-texts>
  </dxo-editing>
  <dxo-export
    [enabled]="true"
    [formats]="['pdf']"
    [allowExportSelectedData]="true"
  ></dxo-export>

  <dxi-column name="idshow" *ngIf="this.dialogComponent"
              dataField="id" caption="Anzeigen"
              [allowFiltering]="false"
              [allowSorting]="false"
              [allowEditing]="false"
              cellTemplate="cellTemplateId"
  ></dxi-column>

  <div *dxTemplate="let data of 'cellTemplateId'" class="d-grid">
    <div style="max-width: 250px;">
      <button class="" mat-button mat-flat-button
              color="primary" (click)="chooseItem(data)">Wählen
      </button>
    </div>
  </div>

  <dxi-column dataField="name" caption="Kunde">
    <dxi-validation-rule
      type="stringLength"
      [min]="3"
      message="Der Name muss mind. 3 Buchstaben besitzen."
    ></dxi-validation-rule>
  </dxi-column>
  <dxi-column dataField="email" caption="E-Mail">
    <dxi-validation-rule
      type="stringLength"
      [min]="3"
      message="Die E-Mail muss mind. 3 Buchstaben besitzen."
    ></dxi-validation-rule>
  </dxi-column>
  <dxi-column dataField="tel" caption="Telefon">
    <dxi-validation-rule
      type="stringLength"
      [min]="3"
      message="Die Telefonnummer muss mind. 3 Buchstaben besitzen."
    ></dxi-validation-rule>
  </dxi-column>


  <dxi-column dataField="address" caption="" cellTemplate="addressTemplate" [allowFiltering]="false"
              [allowSorting]="false">
    <div *dxTemplate="let data of 'addressTemplate'" class="d-flex">
      {{data.value.street}}<br/>
      {{data.value.zip}}<br/>
      {{data.value.city}}


    </div>

  </dxi-column>
  <dxi-column dataField="id" caption="" cellTemplate="editTemplate" [allowFiltering]="false"
              [allowSorting]="false">
    <div *dxTemplate="let data of 'editTemplate'" class="">

      <div class="row">
        <div class="col">
          <button color="primary" mat-button aria-label="bearbeiten" (click)="openEditDialog(data.value)">
            Kunde bearbeiten
          </button>
          <br/>

        </div>
      </div>

      <div class="row">
        <div class="col">
          <button color="primary" mat-button aria-label="bearbeiten" (click)="openAddressDialog(data.value)">
            Addresse ändern
          </button>
        </div>
      </div>


    </div>

  </dxi-column>
</dx-data-grid>
