
###Main###
HELP.md
**/.gradle
**/build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/


### STS ###
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.sts4-cache
**/bin/
!**/src/main/**/bin/
!**/src/test/**/bin/
.jpb/persistence-units.xml
.jpb/jpb-settings.xml
.jpb/persistence-units.xml

### IntelliJ IDEA ###
.idea
**/.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
**/.idea/*
!.idea/runConfigurations/
!.idea/modules/

### NetBeans ###
**/nbproject/private/
**/nbbuild/
**/dist/
**/nbdist/
**/.nb-gradle/

### VS Code ###
**/.vscode/









# Compiled output
**/dist
**/tmp
**/out-tsc
**/bazel-out

# Node
**/node_modules
**/*npm-debug.log
**/*yarn-error.log

#Angular
**/.angular/cache/*

#Config
config/env/prod.env
*.prod


#Keycloak
keycloak/config/**
! keycloak/config/cert/cert.sh
! keycloak/config/.env.dev
keycloak/keycloak.net.local+1-key.pem
keycloak/keycloak.net.local+1.p12
keycloak/keycloak.net.local+1.pem

#Secrets
keycloak/secrets/*
kong/secrets/*
backend/secrets/*
backend/buildSecrets/**
backend/buildSecrets/**

#Backend
backend/application-local-security.properties
backend/spring-app/build/*
backend/spring-app/src/main/resources/application-local-security.properties
backend/localConfig/application-local-security.properties
*.tar
backend/access-control-filter-properties/property-level-access-control-filter/src/main/resources/application-local-security.properties
backend/access-control-filter-properties/secrets/*
backend/access-control-filter-properties/buildSecrets/**
backend/access-control-filter-properties/docker_old/secrets/*
backend/access-control-filter-properties/docker_old/buildSecrets/*
backend/spring-app/src/main/resources/application-test.properties

#Geoservice
geoservice/config/dbdata/jsondata/startup.sql
geoservice/config/dbdata/jsondata/zipCodesGermanyPolygons.geojson
geoservice/config/dbdata/jsondata/zipCodesGermanyStates.json
*.geojson
geoservice/geoservice-db/config/dbdata/jsondata/zipCodesGermanyStates.json
geoservice/geoservice-db/config/.env.prod



