
[submodule "backend/access-control-filter-properties/finer-grained-abac"]
	path = backend/access-control-filter-properties/finer-grained-abac
	url = https://github.com/TRANSIT-Team/Finer-Grained-Attribute-Based-Policy-Machine.git
	recurse = true
	branch = main
	update = merge