<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring boot email template with Thymeleaf</title>

    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>

    <!-- use the font -->
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }
    </style>
</head>
<body>
<p th:text="${'Guten Tag ' + sub_company_name + ','}"></p>
<p th:text="${'auf der Transit-Projekt Plattform wurde Ihnen ein Auftrag zugewiesen.'}"></p>
<p th:text="${'Der Auftraggeber ist die ' + parent_company_name}"></p>
<p th:text="${'Hier der direkte Link zum Auftrag'} "></p>
<p>
    <a th:href="${link_to_order}"> "${link_to_order}" </a>
</p>
<p th:text="${'Mit freundlichen Grüßen ihr'}"></p>
<p th:text="${'Transit Project Team'}"></p>
</body>
</html>