.pre-loader-overlay{
  width: calc(100vw - 64px);
  height: calc(100vh - 64px);
  position: fixed;
  bottom: 0px;
  right: 0px;
  background: rgba(0,0,0,0.2);
  z-index: 99999999;
}
.pre-loader {
  width: 350px;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -175px;
}
