<div class="container pt-4">
  <header>
    <h1>Impressum</h1>
  </header>


  <div class="row ">
    <div class="col ">
      <h2>Ansprechpartner und rechtliche Bestimmungen</h2>
    </div>
  </div>
  <div class="row ">
    <div class="col ">
      <h3><b>Anschrift</b></h3>
    </div>
  </div>

  <div class="row">
    <div class="col">
      Universität Leipzig<br>
      Ritterstraße 26<br>
      04109 Leipzig
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      Telefon: +49 341 97-108<br>
      Telefax: +49 341 97-30099
    </div>
  </div>

  <div class="row mt-2">
    <div class="col">
      Postfachadresse<br>
      Postfach 100920<br>
      04009 Leipzig
    </div>
  </div>


  <div class="row mt-2">
    <div class="col">
      Die Universität Leipzig ist eine Körperschaft des Öffentlichen Rechts. Sie wird durch die Rektorin Prof. Dr. Eva
      Inés Obergfell gesetzlich vertreten.
    </div>
  </div>


  <div class="row mt-2">
    <div class="col">

      <p><strong>Zuständige Aufsichtsbehörde</strong><br> Sächsisches Staatsministerium für Wissenschaft, Kultur und
        Tourismus, Wigardstraße 17, 01097 Dresden, <a href="http://www.smwk.de"
                                                      title="Webseite des Sächsischen Staatsministerium für Wissenschaft und Kunst (Link öffnet neues Fenster)"
                                                      target="_blank" class="textlink" rel="noreferrer">www.smwk.sachsen.de</a><br>
        <br> <strong>Umsatzsteuer-Identifikationsnummer gemäß § 27 a Umsatzsteuergesetz:</strong><br> DE 141510383</p>
    </div>
  </div>

</div>
