<div class="container pt-4">
  <header>
    <h1>Datenschutzerklärung</h1>
  </header>


  <div class="row pt-4">
    <div class="col ">
      <div id="c16054"><p>Über Besucher unserer Internetseiten werden mit Ausnahme der im Folgenden genannten Daten
        keine
        Daten erhoben, die unter Umständen Rückschlüsse auf eine natürliche Person zulassen.</p>
        <p>Werden innerhalb des Internetangebotes der Universität Leipzig personenbezogene Daten erhoben (z. B. bei
          Anmeldungen zu Veranstaltungen), so wird vorab um eine Einwilligung gebeten.</p>
        <p>Werden von der Universität Leipzig im Einzelfall personenbezogene Daten verarbeitet, so kann jeder davon
          Betroffene jederzeit Auskunft über die zu seiner Person verarbeiteten Daten sowie die möglichen Empfänger
          dieser
          Daten, an die diese übermittelt wurden, verlangen.&nbsp; Die Auskunft ist seitens der Universität Leipzig mit
          einer Frist von einem Monat nach Eingang des Auskunftsersuchens zu erteilen.</p>
        <p>Wir haben alle erforderlichen und angemessenen technischen und organisatorischen Maßnahmen getroffen, dass
          die
          Vorschriften über den Datenschutz innerhalb der Universität Leipzig eingehalten werden können. Sollte dennoch
          die Auffassung bestehen, dass das Recht auf Schutz personenbezogener Daten durch die Universität Leipzig
          verletzt wurde, so stehen der Datenschutzbeauftragte der Universität oder der Sächsische
          Datenschutzbeauftragte
          als Beschwerdestelle zur Verfügung.</p>
        <p>Wir weisen Sie darauf hin, dass die Datenübertragung, insbesondere per E-Mail, über das Internet derzeit im
          Wesentlichen ungesichert erfolgt. Es ist nicht ausgeschlossen, dass übermittelte Daten von Unbefugten zur
          Kenntnis genommen und eventuell sogar verfälscht werden können.</p>
        <p><strong>Datenschutzbeauftragter der Universität Leipzig</strong><br> Universität Leipzig<br> 04109
          Leipzig<br>
          Telefon: +49 341 97-30081<br> <br> <strong>Zuständige Aufsichtsbehörde für den Datenschutz</strong></p>
        <p>Sächsische Datenschutz- und Transparenzbeauftragte</p>
        <p>Postanschrift:<br> Sächsische Datenschutz- und Transparenzbeauftragte<br> Postfach 11 01 32<br> 01330 Dresden
        </p>
        <p>Hausanschrift:<br> Sächsische Datenschutz- und Transparenzbeauftragte<br> Devrientstraße 5<br> 01067 Dresden
        </p>
        <p>Telefon: +49 351 85471-101<br> Telefax: +49 351 85471-109</p>
        <p><a href="javascript:linkTo_UnCryptMailto(%27nbjmup%2BqptuAteuc%5C%2Ftbditfo%5C%2Fef%27);"
              title="E-Mail schreiben an post[at]sdtb.sachsen.de" class="readon">E-MAIL</a><br> <a
          href="http://www.datenschutz.sachsen.de" title="Link öffnet in einem neuen Tab" target="_blank"
          class="external"
          rel="noreferrer">Internet</a></p></div>
    </div>
  </div>
</div>



